body{
  background-color: white;
}

.float{
  float: left;
}

.oboHome{
  float: left;
  width: 100vw;
  
}

.projectList{
  text-align: center;
  
}

.projectLinks{
  text-decoration: none;
  display: block;
}

.projectLinks:hover{
  position: relative;
}

.projectHover{
  color: none;
  
}

//.projectLinks:hover::after{
//  content: url(../img/headshot.jpg);
//  display: block;
//  position: absolute;
//  left: 123px;
//  top: 56px;
//}

.myName:hover{
  color: pink;
  position: relative;
  transition: .2s ease;
}


.myName{
  text-decoration: underline;
  transition: .2s ease;
}

.myName:hover::after{
  position: absolute;
  display: block;
  content: url(../img/headshot.jpg);
  left: 123px;
  top: 0px;
  cursor: pointer;
  transition: .2s ease;

}

span{
  cursor: pointer;
  transition: .2s ease;
}

.dot{
  background-color: #fff;
  border-radius: 50%;
  bottom: 10px;
  display: block;
  left: 0;
  margin: auto;
  position: absolute;
  width: 5px;
}

.dot2{
  bottom: 20px;
}

.projectHover{
  transition: .2s ease;
  color: white;
  -webkit-text-stroke-color:#000;
  -webkit-text-stroke-width:1px;
  transition: .2s all ease;
}

.projectHover:hover{
  color: #000;
}




#hero{
  width: 100vw;
  height: 100vh;
}

.heroParent{
  display: table;
  height: 100vh;
  overflow: hidden;
}

.heroParentProjects{
  display: block;
  justify-content: center;
  align-content: center;
  text-align: left;
  padding-top: 25px;
}

.centerHelper{
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.introText{
  margin-left: 75px;
  font-size: 45px;
}

ul{
  font-size: 25px;
  margin-left: 45px;
}